# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.sqlite3

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env

# VS Code settings
.vscode/

# Mac/Windows system files
.DS_Store
Thumbs.db
